<div class="conteiner-back">
    <a class="back" href="/inicio">Back</a>
</div>
<form action="/inicio/agregar" method="POST" enctype="multipart/form-data">
    <div class="new">
        <div class="conteinet">
            <label>name</label>
            <input type="text" name="name">

            <label>description</label>
            <input type="text" name="description">

            <label>marca</label>
            <input type="text" name="marca">


            <label>category</label>
            <select name="category">
                <option value="">Elegir una opcion</option>
                <option value="clothing">clothing</option>
                <option value="shoe">shoe</option>
                <option value="accessories">accessories</option>
            </select>

            <label>price </label>
            <input type="number" name="price">

            <label>stock</label>
            <input type="number" name="stock">

            <label>ison</label>
            <input type="checkbox" name="ison">

            <label>foto</label>
            <input type="file" name="img" id="img">
        </div>
        <div class="conteinerCheckBox">
            <p>Shoe_size</p>
            <div class="conteinet">

                <label>3.5</label>
                <input type="number" name="three_half" value="0">
                <label>4.0</label>
                <input type="number" name="four" value="0">
                <label>4.5</label>
                <input type="number" name="four_half" value="0">
                <label>5.0</label>
                <input type="number" name="five" value="0">
                <label>5.5</label>
                <input type="number" name="five_half" value="0">
                <label>6.0</label>
                <input type="number" name="six" value="0">

            </div>

            <div class="conteinet">
                <label>6.5</label>
                <input type="number" name="six_half" value="0">
                <label>7.0</label>
                <input type="number" name="seven" value="0">
                <label>7.5</label>
                <input type="number" name="seven_half" value="0">
                <label>8.0</label>
                <input type="number" name="eight" value="0">
                <label>8.5</label>
                <input type="number" name="eight_half" value="0">
                <label>9.0</label>
                <input type="number" name="nine" value="0">

            </div>
            <div class="conteinet">
                <label>9.5</label>
                <input type="number" name="nine_half" value="0">
                <label>10.0</label>
                <input type="number" name="ten" value="0">
                <label>10.5</label>
                <input type="number" name="ten_half" value="0">
                <label>11.0</label>
                <input type="number" name="eleven" value="0">
                <label>11.5</label>
                <input type="number" name="eleven_half" value="0">
                <label>12.0</label>
                <input type="number" name="twelve" value="0">

            </div>
            <div class="conteinet">
                <label>12.5</label>
                <input type="number" name="twelve_half" value="0">
                <label>13.0</label>
                <input type="number" name="thirteen" value="0">
                <label>13.5</label>
                <input type="number" name="thirteen_half" value="0">
                <label>14.0</label>
                <input type="number" name="fourteen" value="0">
                <label>14.5</label>
                <input type="number" name="fourteen_half" value="0">
                <label>15.0</label>
                <input type="number" name="fifteen" value="0">

            </div>
        </div>

        <div class="conteinerCheckBox">
            <p>_size</p>

            <div class="conteinet">
                <label>XS</label>
                <input type="number" name="XS" value="0">
                <label>S</label>
                <input type="number" name="S" value="0">
                <label>M</label>
                <input type="number" name="M" value="0">
                <label>L</label>
                <input type="number" name="L" value="0">
                <label>XL</label>
                <input type="number" name="XL" value="0">
                <label>XXL</label>
                <input type="number" name="XXL" value="0">
                <label>XXXL</label>
                <input type="number" name="XXXL" value="0">
            </div>
        </div>



    </div>
    <div class="conteiner-button">
        <button type="submit" class="new-button">Agregar</button>
    </div>
</form>

{{#if error }}
<p>{{message}}</p>
{{/if}}