<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap" rel="stylesheet">
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>


<body>
  <header>
    <a>botones</a>
    <a>cards</a>
    <a>headers</a>
    <a>textos</a>
    <div class="usuarios"> 
    <a href="/login/logout" class="logout">
      Logout
    </a>
    <a href="/login/agregar" class="register">
      Crear Usuario
    </a>
    </div>
  </header>

  <main>
  {{{body}}}
  </main>
</body>

</html>