<form action="/login" method="POST" class="login">

    <label>Usuarios</label>
    <input type="text" name="usuario">

    <label>Contrseña</label>

    <input type="password" name="password">
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>

{{#if error }}
<p>El usuario y/o Contrseña son Incorrectos</p>
{{/if}}


{{#if erro }}
<p>error</p>
{{/if}}